*{
    font-family: 'Roboto', sans-serif;
}
footer{
    text-align: center;
    margin-top:10px;
    margin-bottom:10px;
    clear: both;
}

h1{
    color: seagreen;
    text-shadow: 3px 5px 5px;
}

.login-form{
    width:400px;
    margin:auto;
    margin-top:200px;
    border:1px solid lightgrey;
    border-radius: 4px;
    box-shadow: 0 0 10px lightgrey;
    padding:20px;
    height:330px;
}
.login-form label{
    margin-top:10px;
}
.container{
    min-height: 600px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ccc;
    opacity: 1; /* Firefox */
  }

.navbar-nav a{
    margin-right: 10px;
}

h1{
    margin-top:10px;
}
  
